
<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
    aria-expanded="false" aria-controls="collapseFilters">
    change Filters
  </button>
</p>
<div class="collapse" id="collapseFilters">
  <div class="card card-body">
    <form action="/posts/" method="POST">
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGenre"
          aria-expanded="false" aria-controls="collapseGenre">
          Genre
        </button>
      </p>
      <div class="collapse" id="collapseGenre">
        <select name="genre">
          <option value="Rock">Rock</option>
          <option value="Pop">Pop</option>
          <option value="Classic">Classic</option>
          <option value="Punk">Punk</option>
        </select>
      </div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInstrument"
          aria-expanded="false" aria-controls="collapseInstrument">
          Instrument
        </button>
      </p>
      <div class="collapse" id="collapseInstrument">
        <select name="instrument">
          <option value="Guitar">Guitar</option>
          <option value="Drums">Drums</option>
          <option value="Bass">Bass</option>
          <option value="Flute">Flute</option>
        </select>
      </div>
      <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExperience"
          aria-expanded="false" aria-controls="collapseExperience">
          Experience
        </button>
      </p>
      <div class="collapse" id="collapseExperience">
        <select name="experience">
          <option value="anyexp">Any Experience</option>
          <option value="beginner">Beginner</option>
          <option value="intermediate">Intermediate</option>
          <option value="moderate">Moderate</option>
          <option value="advanced">Advanced</option>
          <option value="expert">Expert</option>
        </select>
      </div>
      <button type="submit">apply filters</button>
      {{!-- <button type="">Reset all</button> --}}
    </form>
  </div>
</div>
<div class="cards-container">
  {{#each postsArr}}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Name: {{this.name}}</h5>
      <p class="card-text">{{this.status}}</p>
      <p class="card-text">Genre: {{this.genre}}</p>
      <p class="card-text">Instruments: {{this.instrument}}</p>
      <a href="/posts/{{this._id}}" class="btn btn-primary">See details</a>
    </div>
  </div>
  {{/each}}
</div>
{{#if success}}
<script>alert("successfully created post")</script> 
{{!-- <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
    Hello, world! This is a toast message.
   </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div> --}}
{{/if}}