<img class="details-header" src="{{image}}" alt="">
<h3>{{title}}</h3>


<li>{{name}}</li>
<li>{{status}}</li>
<li>{{title}}</li>
<li>{{genre}}</li>
<li>{{instrument}}</li>
<li>{{experience}}</li>
<li>{{description}}</li>
<li>{{location}}</li>
<li>{{email}}</li>

<button><a href="/posts/{{_id}}/edit">Edit</a></button>
<form action="/posts/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
</form>
<form action="/posts/{{_id}}/contact" method="GET">
        <button type="submit">Contact</button>
</form>

