<h1>edit Post Details</h1>

<form action="/posts/{{_id}}/edit" method="POST">

    <input type="file" name="image" value="{{image}}">
    <input type="text" name="name" value="{{name}}">
    <input type="text" name="title" value="{{title}}">
    <input type="text" name="genre" value="{{genre}}">
    <input type="text" name="instrument" value="{{instrument}}">
    <input type="text" name="experience" value="{{experience}}">
    <input type="text" name="description" value="{{description}}">
    <input type="text" name="location" value="{{location}}">
    <input type="text" name="email" value="{{email}}">

    {{!-- musician/band, hidden, but needed for redirect post/edit&delete route
    to go back to the list of the bands/or musicians you come from (to set query get.posts/?status=band/musician)--}}
    <input type="hidden" name="status" value="{{status}}">

    <button type="submit">Submit your Changes</button>
</form>

