<h1>Post Details</h1>

<li>{{image}}</li>
<li>{{name}}</li>
<li>{{status}}</li>
<li>{{title}}</li>
<li>{{genre}}</li>
<li>{{instrument}}</li>
<li>{{experience}}</li>
<li>{{description}}</li>
<li>{{location}}</li>
<li>{{mail}}</li>
