<div class="details-container">
  <div class="img-ctn">
    <h4>Hey here is</h4>
    <h4 class="details-name">{{name}}</h4>
    <img class="details-header" src="{{image}}" alt=""><br>
    <h4>from</h4>
    <h4 class="details-name">{{location}}</h4>
  </div>

  <div class="details-container-info">
    <h3>{{title}}</h3>
    
    <div class="cata">
      <li> <span id="categories">Genre:</span> <span id="span-details">{{genre}}</span> </li>
      <li> <span id="categories">Instrument(´s):</span> {{instrument}}</li>
      <li> <span id="categories">Experience:</span> {{experience}}</li>
    </div> 
    <div class="descr-ctn">
    <p>{{description}}</p> 
    <hr id="descr-hr">
    </div>
    <div class="another-button-div">
      {{#ifEquals author_id this.session.user._id }}
      <div class="andanotherone">
        <div class="notanotherdiv">
          <button id="btnd2" class="btn"><a href="/posts/{{_id}}/edit">Edit</a></button>
        </div>
        <form class="details-btn" action="/posts/{{_id}}/delete" method="POST">
          <button class="btn" id="btnd1" type="submit">Delete</button>
          
        </form>
      </div>
      {{/ifEquals}}
          <button type="button" id="contact-btn" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Contact
        </button>
    </div>
  <!-- Button trigger modal -->

    


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Contact
    </button>
  </div>
</div>
<!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Shoot {{name}} a message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/posts/{{_id}}/contact" method="POST">
            <div class="modal-body">
                <input name="emailAuthor" type="email" class="form-control" placeholder="Your email address here">  {{!-- that info is just sent as string in the subject of the mail, so the receiving end knows who wrote that mail --}}
                <input name="subject" type="text" class="form-control  mt-2 mb-2" placeholder="Your subject here">
              <div class="form-floating">
                <textarea name="message" class="form-control" placeholder="your message here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Your message here</label>
              </div>
            </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Send Mail</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send Mail</button>
      </form>
    </div>
  </div>
</div>


{{!-- <h1>NODEMAILER</h1>
<form action="/posts/{{_id}}/contact" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="">
  <label for="">Subject</label>
  <input type="text" name="subject" id="">
  <label for="">Message</label>
  <textarea type="text" name="message" id=""></textarea>
  <button type="submit">Submit</button>
</form> --}}