<h1>All Musicians/Bands Posts</h1>

{{#each postsArr}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.genre}}</p>
    <p class="card-text">{{this.instruments}}</p>
    <a href="/posts/{{this._id}}" class="btn btn-primary">See details</a>
  </div>
</div>
{{/each}} 

